<div class="card">
  <div class="card-body p-0">
    <table class="table table-bordered mb-0 text-center" *ngIf="getAllProducts.length > 0; else nodata">
      <thead>
        <tr>
          <th>Sr.no</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of getAllProducts; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.description }}</td>
          <td>
            <button mat-raised-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>
            <button (click)="onRemove(product.id)" mat-raised-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #nodata>
      <p class="alert alert-danger text-center mb-0">No Data Found!!!!</p>
    </ng-template>
  </div>
</div>